<div class="front text-center mt-5 " *ngIf="domData , else elseBlock">
    <img [src]="wishlist">
    <div class="mt-5">
        <p><b>Wishlist is empty!</b></p>
    </div>
    <p>
        Explore our offerings and tap the heart button<br> to start saving your list
    </p>
    <a routerLink="/productList">
    <button class="child1 rounded">
        {{ "Add To Wishlist" | uppercase}}
    </button>
</a>
</div>

<ng-template #elseBlock>
    

    <!-- <div class="col-12 wishBanner d-flex" *ngFor="let x of domData">
        <div>
            <img [src]="x.image" width="150px" height="150px">
        </div>
        <div class="wishB2">
            <div class="d-flex justify-content-between">
                <p>{{x.Product_Name}}</p>
                <button class="removeitems" (click)="removeProduct(x)"><i class="bi bi-dash-circle"></i></button>
            </div>
            <div>
            <div class="d-flex">
                <div class="catel">
                    <p>{{x.Category.c1}}</p>
                </div>
                <div class="catel ms-2">
                    <p>{{x.Category.c2}}</p>
                </div>
            </div>
                <div class="catel2">
                    <span><i class="bi bi-currency-rupee"></i>{{x.Price}}</span>
                    <span style="color:rgb(186, 179, 179)"><del>MRP<i
                                class="bi bi-currency-rupee"></i>{{x.MRP}}</del></span>
                                <span style="color:red">Save {{x.discount}}%</span>
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-between">
                 {{x.Manufacturer}}
                 <div>
                    <button appCust (click)="AddtoCart(x)">Add to Cart</button>
                </div>
                </div>
                
            </div>
        </div>
        

    </div> -->

</ng-template> 