.mainhead{
    width:1030px;
    height:68px;
    padding:16px;
    margin-left:200px;
    position:absolute;
    z-index:1;
    font-weight:bolder
}
.mainhead2{
    width:1030px;
    height:100vh;
    padding:16px;
    margin-left:200px;
}

.btn{
    height:46px;
    width:300px;
    line-height: 32px;
    margin-top:30px;
    background-color: darkseagreen;
    color:white;
    font-weight: 600;
}
